@model HealthPlus.Models.Users

@{
    ViewData["Title"] = "AddInformation";
}

<h1>AddInformation</h1>

<h4>Users</h4>
<hr />
<div class="row">
    <div class="col-md-4">
       <form asp-action="AddInformation" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="information" class="control-label"></label>
                <input asp-for="information" class="form-control" />
                <span asp-validation-for="information" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="goal" class="control-label"></label>
                <input asp-for="goal" class="form-control" />
                <span asp-validation-for="goal" class="text-danger"></span>
           </div>
            <div class="form-group">
                <input type="submit" value="AddInformation" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
