@model HealthPlus.Models.Users

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Users</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="client_name" class="control-label"></label>
                <input asp-for="client_name" class="form-control" />
                <span asp-validation-for="client_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="client_surname" class="control-label"></label>
                <input asp-for="client_surname" class="form-control" />
                <span asp-validation-for="client_surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="client_password" class="control-label"></label>
                <input asp-for="client_password" class="form-control" />
                <span asp-validation-for="client_password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="client_email" class="control-label"></label>
                <input asp-for="client_email" class="form-control" />
                <span asp-validation-for="client_email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_training" class="control-label"></label>
                <input asp-for="Id_training" class="form-control" />
                <span asp-validation-for="Id_training" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="age" class="control-label"></label>
                <input asp-for="age" class="form-control" />
                <span asp-validation-for="age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
