<!DOCTYPE HTML>
<!--
	Hyperspace by HTML5 UP
	html5up.net | ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Elements - Hyperspace by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="~/css/main.css" />
		<noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
		<header id="header">
			<a class="title" asp-area="" asp-controller="Home" asp-action="Index">Отзывы</a>
	
		</header>

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Main -->
		

					<!-- Image -->
					<section>
							<ul>									
						<li><p><span class="image"><img src="~/images/pic01_i.jpg" alt="" /></span>Очень хорошие тренировки!</p>
						<li><p><span class="image"><img src="~/images/pic01_i.jpg" alt="" /></span>Очень хорошие тренировки!</p></li>
						<li><p><span class="image"><img src="~/images/pic01_i.jpg" alt="" /></span>Блин, Я Максим(((</p></li>
						<li><p><span class="image"><img src="~/images/pic01_i.jpg" alt="" /></span>Отдал им все деньги и не жалею! Когда получу еще денег, еще потрачу!</p></li>
						<li><p><span class="image"><img src="~/images/pic01_i.jpg" alt="" /></span>Разработчики молодцы!ИМХО!</p></li>
						<li><p><span class="image"><img src="~/images/pic01_i.jpg" alt="" /></span>Идея конечно хорошая, но без разработчков это было бы не так круто!</p></li>
						<li><p><span class="image"><img src="~/images/pic01_i.jpg" alt="" /></span>Очень не понравилось!((( Но буду пользоваться еще</p></li>
						<li><p><span class="image"><img src="~/images/pic01_i.jpg" alt="" /></span>Обожаю чипсы</p></li>
							</ul>
					</section>
				</div>
		<!-- Footer -->
		<footer id="footer" class="wrapper alt">
			<div class="inner">
				<ul class="menu">
					<li>&copy; Untitled. All rights reserved.</li>
					<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</div>
		</footer>

		<!-- Scripts -->
		<script src="~/js/jquery.min.js"></script>
		<script src="~/js/jquery.scrollex.min.js"></script>
		<script src="~/js/jquery.scrolly.min.js"></script>
		<script src="~/js/browser.min.js"></script>
		<script src="~/js/breakpoints.min.js"></script>
		<script src="~/js/util.js"></script>
		<script src="~/js/main.js"></script>

	</body>
</html>