<!DOCTYPE HTML>
<!--- Данный файл нужно будет засунуть в кнопку-->
<html>
	<head>
		<title>Elements - Hyperspace by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="~/css/main.css" />
		<noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
		<header id="header">
			<a class="title" asp-area="" asp-controller="Home" asp-action="Index">Авторизация</a>
		</header>
<div class="form_auth_block">
  <div class="form_auth_block_content">
    <p class="form_auth_block_head_text">Авторизация</p>
    <form class="form_auth_style" action="#" method="post">
      <label>Введите Ваш емейл</label>
      <input type="email" name="auth_email" placeholder="Введите Ваш емейл" required >
      <label>Введите Ваш пароль</label>
      <input type="password" name="auth_pass" placeholder="Введите пароль" required >
	  	  <input type="checkbox" id="myCheckbox">
		<label for="myCheckbox">Запомнить меня</label>
      <button class="form_auth_button" type="submit" name="form_auth_submit">Войти</button>
    </form>
  </div>
</div>


		<!-- Footer -->
		<footer id="footer" class="wrapper alt">
			<div class="inner">
				<ul class="menu">
					<li>&copy; Untitled. All rights reserved.</li>
					<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</div>
		</footer>

		<!-- Scripts -->
		<script src="~/js/jquery.min.js"></script>
		<script src="~/js/jquery.scrollex.min.js"></script>
		<script src="~/js/jquery.scrolly.min.js"></script>
		<script src="~/js/browser.min.js"></script>
		<script src="~/js/breakpoints.min.js"></script>
		<script src="~/js/util.js"></script>
		<script src="~/js/main.js"></script>

}

	</body>
</html>