<!DOCTYPE HTML>
<!--- Данный файл нужно будет засунуть в кнопку-->
<html>
	<head>
		<title>Elements - Hyperspace by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="~/css/main.css" />
		<noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
		<header id="header">
			<a class="title" asp-area="" asp-controller="Home" asp-action="Index">Hyperspace</a>
			<nav>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="generic.html">Generic</a></li>
					<li><a href="elements.html" class="active">Elements</a></li>
				</ul>
			</nav>
		</header>

	
					<!-- Form -->
					<!---
									<form>
		<div class="container">
		<label for="uname"><b>Username</b></label>
		<input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
    <label>
    </label>
  </div
  <div>
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>
					-->
<button onclick="document.getElementById('id01').style.display='block'">Login</button>
		<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <!-- Modal Content -->
  <form class="modal-content animate" action="/action_page.php">
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
	   <label for="psw"><b>Email</b></label>
      <input type="password" placeholder="Enter Email" name="psw" required>
      <button type="submit">Login</button>
     <input type="checkbox" id="myCheckbox">
	<label for="myCheckbox">Запомнить меня</label>
    </div>
    <div class="container" style="background-color:darkslateblue">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>
					

		<!-- Footer -->
		<footer id="footer" class="wrapper alt">
			<div class="inner">
				<ul class="menu">
					<li>&copy; Untitled. All rights reserved.</li>
					<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</div>
		</footer>

		<!-- Scripts -->
		<script src="~/js/jquery.min.js"></script>
		<script src="~/js/jquery.scrollex.min.js"></script>
		<script src="~/js/jquery.scrolly.min.js"></script>
		<script src="~/js/browser.min.js"></script>
		<script src="~/js/breakpoints.min.js"></script>
		<script src="~/js/util.js"></script>
		<script src="~/js/main.js"></script>
		<script>
		var modal = document.getElementById('id01');
		window.onclick = function(event) {
		if (event.target == modal) {
			modal.style.display = "none";
			}
		}
		</script>
}

	</body>
</html>